@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* body > div {
	background: #9ca6d9;
	clip-path: inset(0 0 0 0 round 0 0 25% 25%);
	border-top: solid 3px #8b72be;
} */

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-family: 'Poppins', sans-serif;
	margin: auto 5%;
	padding-top: 1%;
	background: #fffeee;
}

.navbar > .navbar--logo {
	font-size: 36px;
	color: #3f3f3f;
	cursor: pointer;
	padding-top: 1%;
}

.navbar--items > .item {
	margin: auto 10px;
	color: #3f3f3f;
	cursor: pointer;
	font-size: 18px;
}
