@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.banner--container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background: #fffeee;
}

.container--title {
	color: #3f3f3f; /* find a better color */
	font-size: 64px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 2px;
	padding-top: 10%;
}

.container--subtitle {
	font-size: 24px;
	color: #3f3f3f;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}

.container--signup-box {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	margin-top: 2%;
}

.signup-box--inputbox {
	width: 70%;
	padding: 1%;
	border-radius: 10px;
	border: solid 2px #3f3f3f;
	outline: none;
	height: 40px;
}

::-moz-placeholder {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 16px;
	opacity: 0.4;
}

.signup-box--inputbox[type='email'] {
	font-family: 'Poppins', sans-serif;
	color: #3f3f3f;
	font-size: 16px;
}

.signup-box--button {
	padding: 2%;
	border-radius: 10px;
	border: 1px solid #3f3f3f;
	outline: none;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	background: #9ca6d9;
	color: #fffeee;
	cursor: pointer;
}

.signup-box--button:active {
	font-size: 15.5px;
}

.carbonPic {
	height: 350px;
	width: auto;
	border-radius: 25px;
}

.comment-container--title > h1 {
	font-family: 'Poppins', sans-serif;
	padding-bottom: 20px;
}
